img{
    border-radius: 50%;
    width: 15%;
}

body{
    font-size: 18px;
    color: #2D3748;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flex-container{
    display: flex;
    justify-content: center; /* Centers elements */
    align-items: center;
    flex-direction: column; /* Aligned items one after the other */
}

header{
    background-color: #63B3ED;
    color: #FFFFFF;
}

header h1{
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

article h2{
    font-size: 32px;
    color: #48BB78;
}

article h5{
    color: #718096;
}

#About{
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #E2E8F0;
    padding: 15px;
}

#SocialMedia {
    color: #48BB78;
}

#SocialMedia a{
    color: #4299E1;
}

#Archives {
    color: #48BB78;
}

#Archives a{
    color: #4299E1;
}

footer{
    background-color: #2C5282;
    color:  #FFFFFF;
}